html {
  box-sizing: border-box;
  background: radial-gradient(circle, #050505, #010010);
}
body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.parallax-inner {
  will-change: transform;
}
